@tailwind base;

@tailwind components;

.orange_button_noheight {
  font-family: "Inter", sans-serif;
  background: linear-gradient(90deg, #faad98, #f88478 100%);
  @apply .mx-auto .w-full .text-white .font-bold .rounded-full;
}
.white_button_red_font_noheight{
  font-family: "Inter", sans-serif;
  @apply .mx-auto .w-full  .font-bold .rounded-full .text-figmaOrange .my-6;
}

.orange_button_noheight_nowidth {
  font-family: "Inter", sans-serif;
  background: linear-gradient(90deg, #faad98, #f88478 100%);
  @apply .mx-auto .text-white .font-bold .rounded-full .my-6;
}

.orange_button_noheight:hover {
  text-decoration: underline;
}

@screen lg {
  .orange_button_noheight {
    @apply .mx-0;
  }
}
@tailwind utilities;
