.mobile-frame__outer {
  background-position: center;
  background-repeat: no-repeat;
  width: 450px;
  height: 950px;
  padding-top: 126px;
  padding-left: 41px;
}

.mobile-frame__inner {
  width: 365px;
  height: 595px;
  margin-top: 20px;
}

.tab-link > div > #tab-label {
  display: inline-flex;
}

.tab-link > div {
  background-color: #fdebdb;
  border-radius: 9999px;
}
